In [59]:
import requests
from bs4 import BeautifulSoup

import pandas as pd

In [73]:
PlayersList = []
ValuesList = []

headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

for k in range(2008,2016):
    for i in range(0,10):
        page = "https://www.transfermarkt.co.uk/transfers/transferrekorde/statistik/top/saison_id/" + str(k) + "/plus/1/galerie/0/page/" + str(i+1)
        pageTree = requests.get(page, headers=headers)
        pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

        Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
        Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

        for j in range(0,25):
            PlayersList.append(Players[j].text)
            ValuesList.append(Values[j].text)
        
df = pd.DataFrame({"Players":PlayersList,"Values":ValuesList})

In [87]:
df.iloc[[500]]

             Players   Values
500  Fernando Torres  £52.65m

In [90]:
seasons = ['08/09']  * 250 + ['09/10']  * 250 + ['10/11']  * 250 + ['11/12']  * 250 +\
        ['12/13']  * 250 + ['13/14']  * 250 + ['14/15']  * 250 + ['15/16']  * 250


start = [2008]  * 250 + [2009]  * 250 + [2010]  * 250 + [2011]  * 250 +\
        [2012]  * 250 + [2013]  * 250 + [2014]  * 250 + [2015]  * 250

end = [2009]  * 250 + [2010]  * 250 + [2011]  * 250 +\
        [2012]  * 250 + [2013]  * 250 + [2014]  * 250 + [2015]  * 250 + [2016] * 250

In [91]:
df['Seasons'] = seasons
df['Start'] = start
df['End'] = end

In [92]:
df.head()

               Players   Values Seasons  Start   End
0              Robinho  £38.70m   08/09   2008  2009
1     Dimitar Berbatov  £34.20m   08/09   2008  2009
2           Dani Alves  £31.95m   08/09   2008  2009
3                Danny  £27.00m   08/09   2008  2009
4  Klaas-Jan Huntelaar  £24.30m   08/09   2008  2009

In [94]:
df.to_csv("./values.csv")