In [1]:
import requests
from bs4 import BeautifulSoup

import pandas as pd

In [2]:
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

page = "https://www.transfermarkt.co.uk/transfers/transferrekorde/statistik/top/plus/0/galerie/0?saison_id=2000"
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [3]:
Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})

#Let's look at the first name in the Players list.
Players[0].text

'Luís Figo'

In [14]:
Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

Values[2].text

'£51.13m'

In [26]:
Seasons = pageSoup.find_all("td", {"class": "zentriert"})
Seasons[74].text

''

In [8]:
PlayersList = []
ValuesList = []

for i in range(0,25):
    PlayersList.append(Players[i].text)
    ValuesList.append(Values[i].text)
    
df = pd.DataFrame({"Players":PlayersList,"Values":ValuesList})

df.head()

             Players   Values
0          Luís Figo  £54.00m
1      Hernán Crespo  £51.13m
2      Marc Overmars  £36.00m
3  Gabriel Batistuta  £32.54m
4     Nicolas Anelka  £31.05m

In [27]:
SeasonsList = []
for i in range(0,75):
    SeasonsList.append(Seasons[i].text)
    
df2 = pd.DataFrame({"Seasons":SeasonsList})
df2.head()

  Seasons
0       1
1   00/01
2
3       2
4   00/01